$blk-gray: #202225;
$dk-gray: #303136;
$md-dk-gray: #36393f;
$gray: #474b52;
$lt-gray: #99aab5;
$blue: #7289da;
$teal: #3dc6aa;
$purple: #9b84ee;
$orange: #f47b68;

.App {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: row;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid $blk-gray;
  height: 45px;
  background-color: $md-dk-gray;
  color: $lt-gray;

  h1 {
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: center;
    margin: -0.2rem;
    color: white;
  }

}

#bubble {
  margin: 0.75rem 0.3rem 0 0.1rem;
  font-size: 1.8rem;
}


#onlineUsers {
  margin: 0.8rem;
  position: absolute;
  right: 3.3rem;
}

#profileBtn {
  margin: 1px 0;
  height: 44px;
  position: absolute;
  left: 0;
  box-shadow: none;
}

#githubBtn {
  margin: 1px 0;
  height: 44px;
  position: absolute;
  right: 0;
  box-shadow: none;
}

.btnImg {
  width: 25px;
  height: 25px;
  filter: invert(1);
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 12;
  min-width: 400px;
  margin-right: 200;
  height: 100vh;
  background-color: $md-dk-gray;
  color: white;
  padding: 0.6rem;
  padding-right: 0;
  /* overflow: hidden; */
}

.roomTitle {
  color: $lt-gray;
}

.left-sidebar,
.right-sidebar {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  flex-grow: 1;
  max-width: 200px;
  height: 100vh;
  min-width: 200px;
  background-color: $dk-gray;
  color: white;
}

#landing {
  text-align: center;
  margin: 5rem auto;
  color: $lt-gray;
  margin: 0;
  position: absolute;
  top: 43%;
  left: 50%;

  h1 {
    font-family: 'Kanit', sans-serif;
  }

  a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: .3s ease-in-out;
  }

  a:hover {
    color: $lt-gray;
    text-decoration: underline;
    transition: .3s ease-in-out;
  }
}

.roomchat-container {
  height: 85.5vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 1rem;
}

.message-bar {
  margin: 0 1.8rem 0 1.1rem;
}

.message-container,
.rooms-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.myChatMessage {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  /* width: 67%; */
  background: linear-gradient(135deg, $blue, $teal);
  border-radius: 20px 20px 0 20px;
  margin: 0 1rem 15px 33%;
  /* text-shadow: 1px 1px 3px rgba(0,0,0, 0.4); */
}

.theirChatMessage {
  padding: 0.5rem 1rem;
  width: 67%;
  background: linear-gradient(135deg, $purple, $orange);
  border-radius: 0px 20px 20px 20px;
  margin: 0 33% 15px 0;
  /* text-shadow: 1px 1px 3px rgba(0,0,0, 0.4); */
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $md-dk-gray;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blk-gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $gray;
  border-radius: 10px;
}
