.App {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: row;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #202225;
  height: 45px;
  background-color: #36393f;
  color: #99aab5;
}

#bubble {
  margin: .75rem .3rem 0 .1rem;
  font-size: 1.8rem;
}

.header h1 {
  font-family: 'Kanit', sans-serif;
  display: flex;
  justify-content: center;
  margin: -.2rem;
  color: white;
}

#onlineUsers {
  margin: 10px;
  position: absolute;
  right: 4rem;
}

#profileBtn {
  border-radius: 0 22px 22px 0;
  margin: 1px 0;
  height: 44px;
  position: absolute;
  left: 0;
}

#githubBtn {
  border-radius: 22px 0 0 22px;
  margin: 1px 0;
  height: 44px;
  position: absolute;
  right: 0;
}

.btnImg {
  width: 25px;
  height: 25px;
  filter: invert(1);
}

.main-container {
  flex-grow: 12;
  min-width: 600px;
  margin: 0;
  height: 100vh;
  background-color: #36393f;
  color: white;
}

.left-sidebar,
.right-sidebar {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  flex-grow: 1;
  max-width: 200px;
  height: 100vh;
  min-width: 200px;
  background-color: #303136;
  color: white;
}

#landing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 33%;
  color: #99aab5;
}

#landing h1 {
  font-family: 'Kanit', sans-serif;
}

.roomchat-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.message-bar {
  position: fixed;
  bottom: 0;
  margin: 0 0 20px 20px;
}

.message-container {
  display: flex;
  flex-direction: column;
}