$blk-gray: #202225;
$dk-gray: #303136;
$md-dk-gray: #36393f;
$gray: #474b52;
$lt-gray: #99aab5;
$blue: #7289da;
$teal: #7db1b1;
$purple: #9b84ee;
$orange: #f47b68;

.App {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: row;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid $blk-gray;
  height: 45px;
  background-color: $md-dk-gray;
  color: $lt-gray;

  h1 {
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: center;
    margin: -0.2rem;
    color: white;
  }
}

#titleBubble {
  margin: 0.75rem 0.3rem 0 0.1rem;
  font-size: 1.8rem;
}

#onlineUsers {
  margin: 0.8rem;
  position: absolute;
  right: 3.3rem;
}

#profileBtn {
  margin: 1px 0;
  height: 44px;
  position: absolute;
  left: 0;
  box-shadow: none;
  border-radius: none;
}

#githubBtn {
  margin: 1px 0;
  height: 44px;
  position: absolute;
  right: 0;
  box-shadow: none;
  border-radius: none;
}

.btnImg {
  width: 25px;
  height: 25px;
  filter: invert(1);
}

/* MAIN */
.main-container {
  // display: flex;
  flex-direction: column;
  flex-grow: 12;
  min-width: 400px;
  height: 100vh;
  background-color: $md-dk-gray;
  color: white;
  padding: 0.6rem;
  padding-right: 0;
  /* overflow: hidden; */
}

.roomTitle {
  color: $lt-gray;
}

/* LANDING PAGE */
#landing {
  text-align: left;
  color: white;
  position: absolute;
  top: 33%;
  left: 33%;

  h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 4.5rem;
    font-weight: 300;
    text-shadow: -2px 2px #000, -2px 2px #000, -3px 3px #000, -4px 4px #000, -5px 5px #000, -6px 6px #000, -7px 7px #000, -8px 8px #000;
    -webkit-text-stroke: 1px black;
    -webkit-font-smoothing: antialiased;
    margin: 0;
  }

  h3,
  p {
    font-weight: 400;
    letter-spacing: 0.7px;
  }

  .landBtn {
    border-radius: 22px;
    margin: 0 0.7rem 0.7rem 0;
    width: 205px;
  }

  a {
    color: $lt-gray;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }

  a:hover {
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }
}

/* PROFILE */
#profile {
  display: flex;
  justify-content: center;

  #profilePaper {
    width: 60%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem 3rem 4rem;
  }

  #toggleGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 3rem;
    margin-bottom: 2rem;
  }

  .interestBtn {
    height: 30px;
    border-radius: 15px;
    margin: 0.15rem;
    padding: 3px 12px 0 12px;
  }

  .profileRow {
    display: flex;
    justify-content: right;
  }

  .updateBtn {
    border-radius: 22px;
    margin-top: 1.5rem;
    width: 150px;
  }
}

/* SIDEBARS */
.left-sidebar,
.right-sidebar {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  flex-grow: 1;
  max-width: 200px;
  height: 100vh;
  min-width: 200px;
  background-color: $dk-gray;
  color: white;

  .rightUserList {
    overflow: scroll;
    margin-bottom: 5rem;
    background-color: $dk-gray;
  }

  .rightUserBtn {
    padding: 1px;
    width: 180px;
    height: 34px;
    border-radius: 17px;
    margin: .1rem 0 .1rem 10px;
    box-shadow: none;
    justify-content: left;
    text-transform: lowercase;
  }

  .rightAvatar {
    height: 32px;
    width: 32px;
    margin-right: 8px;
    // border: thin solid $blk-gray;
  }

  .footer {
    display: flex;
    justify-content: center;
    position: fixed;
    // margin-top: 95%;
    bottom: 1rem;
    left: 3.8rem;
  }
}

/* CHAT */
.roomchat-container {
  height: 85.5vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 1rem;
  // margin-right: .5rem;
}

.message-bar {
  margin: 0 1.8rem 0 1.1rem;
}

.message-container,
.rooms-container {
  display: flex;
  flex-direction: column;
  margin: 20px 1rem 0 0;
}

.myChatMessage {
  padding: 0.8rem 1.3rem;
  font-size: 1.3rem;
  background: linear-gradient(135deg, $blue, $teal);
  border-radius: 25px 25px 0 25px;
  margin: 0 0 15px 0;
}

.theirChatMessage {
  padding: 0.8rem 1.3rem;
  width: 67%;
  background: linear-gradient(135deg, $purple, $orange);
  border-radius: 0px 25px 25px 25px;
  margin: 0 33% 15px 0;
}

// /* CHAT SCROLL */
// ::-webkit-scrollbar {
//   width: 7px;
//   border-radius: 4px;
// }

// /* track */
// ::-webkit-scrollbar-track {
//   background: $md-dk-gray;
//   border-radius: 4 px;
// }

// /* handle */
// ::-webkit-scrollbar-thumb {
//   background: $blk-gray;
//   border-radius: 4px;
// }

// /* handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: $gray;
//   border-radius: 4px;
// }
